/* stylelint-disable no-missing-end-of-source-newline */
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#email-house {
  padding-bottom: 15px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#familias {
  display: flex;
  flex-direction: column;
}

#mostEnjoyed {
  border-bottom: 1px solid grey;
}

#submit-btn {
  width: 100%;
}

footer {
  padding-top: 20px;
}